.profile-page {
    background-color: #FDDE59;
    background-color: #81C784;
    background-color: #C8E6C9;
    background-color: #222639;
    height: 100vh;
    display: flex;
    padding: 0 0 0 20%;
    align-items: center;
    text-align: left;
    animation-name: page-load;
    animation-duration: 500ms;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .profile-page {
        width: 100%;
        padding: 5%;
    }
    h2 {
        line-height: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .profile-page {
        width: 100%;
        padding: 0 0.5% 0 0.5%;
    }
    h2 {
        line-height: 1em;
    }
    .name-header-page-one {
        font-size: 3rem;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
    .content-container {
        width: 90%;
    }
}

.profile-section {
    display: flex;
    justify-content: space-evenly;
}

@keyframes page-load {
    0%  {opacity: 0.1;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.name-header-page-one {
    font-size: 4.5rem;
    font-weight: 300;
    margin-left: -0.4rem;
    padding: 0;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    animation-delay: 2s;
    /* line-height: 0.7em; */
}

.h1-first {
    line-height: 3.5rem;
}

h1, h2, p {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
}

.hover-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

img {
    width: 20%;
    margin: left;
}