.profile-page {
    background-color: #FDDE59;
    background-color: #81C784;
    background-color: #C8E6C9;
    height: 100vh;
    display: flex;
    padding: 0 0 0 20%;
    align-items: center;
    text-align: left;
    animation-name: page-load;
    animation-duration: 800ms;
}

.profile-section {
    display: flex;
    justify-content: space-evenly;
}

@keyframes page-load {
    0%  {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.name-header-page-one {
    font-size: 5rem;
    font-weight: 300;
    margin-left: -0.4rem;
    padding: 0;
    text-align: left;
    color: black;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    animation-delay: 2s;
}

h1, h2, p {
    font-family: 'Source Sans Pro', sans-serif;
}

.hover-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}