* {
  margin:0;
  padding:0;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222639;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

body {
  width: 100%;
}